@use '../../styles/index' as *;

.fonctionnement {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    color: $primary-black-color;
}

.fonctionnementTitle {
    display: flex;
    flex-direction: column;
    font-size: $primary-font-size;
    font-family: $secondary-font;
    opacity: 0;
    transform: translateX(-15px);
    animation: slideInTitle 0.8s ease-out forwards;
}

.fonctionnementCards {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    color: $primary-black-color;
    padding-bottom: 0;

}

.fonctionnementCard {
    display: flex;
    align-items: center;
    background-color: $secondary-white-color;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1), 0 4px 10px rgba(0,0,0,0.1); // Ajouté un box-shadow supplémentaire
    margin-bottom: 1rem;
}

.fonctionnementCardNumber {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: $primary-black-color;
    color: $primary-white-color;
    border-radius: 50%;
    font-size: $quaternary-font-size;
    font-family: $secondary-font;
    flex-shrink: 0; // Empêcher la réduction de la taille des cercles
}

.fonctionnementCard img {
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-right: 10px;
    flex-shrink: 0;
}

.fonctionnementCard p {
    font-size: $tertiary-font-size;
    text-align: start;
    font-weight: $primary-font-weight;
}

.fonctionnementCard {
    opacity: 0;
    transform: scale(0.9);
    animation: zoomIn 0.6s ease-out forwards;
    animation-delay: calc(var(--index) * 0.1s);
}