@use '../../styles/index' as *;

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  max-width: 400px;
  margin: 0 auto;
  background-color: $secondary-white-color; // Utilisation de la couleur secondaire pour le fond
  color: $primary-black-color;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  h2 {
    text-align: center;
    font-size: $primary-font-size;
    font-family: $secondary-font;
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(-15px);
    animation: slideInTitle 0.8s ease-out forwards;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    
    input {
      padding: 10px;
      font-size: $secondary-font-size;
      border: 1px solid $primary-color;
      border-radius: 5px;
      outline: none;
      background-color: $primary-white-color;
      color: black;
    }

    button {
      font-family: $secondary-font;
      color: $primary-white-color;
      text-decoration: none;
      border: 2px solid $primary-color;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      background-color: $primary-color;
      transition: background-color 0.3s, color 0.3s;
      cursor: pointer;
      margin-top: 15px;

      &:hover {
        background-color: $secondary-white-color;
        color: $primary-color;
      }
    }
  }

  .error-message {
    color: red;
    font-size: $quaternary-font-size;
    text-align: center;
    margin-top: 10px;
  }

  @keyframes slideInTitle {
    0% {
      opacity: 0;
      transform: translateY(-15px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @media (max-width: 768px) {
    max-width: 350px;

    h2 {
      font-size: $secondary-font-size;
    }

    input {
      font-size: $quaternary-font-size;
    }

    button {
      font-size: $quaternary-font-size;
    }
  }
}
